<div class="container">
  <!--<form class="form" [formGroup]="form" (submit)="onSubmit()" novalidate>-->
    <!--<div class="fields-group">-->
      <!--<div class="input1">-->
        <!--<label for="login">Login:</label>-->
        <!--<input formControlName="login" type="text" id="login">-->
      <!--</div>-->
      <!--<div class="input2">-->
        <!--<label for="password">Password:</label>-->
        <!--<input formControlName="password" type="password" id="password">-->
      <!--</div>-->
    <!--</div>-->

    <!--<button class="submit" type="submit" [disabled]="!form.valid">log in</button>-->
  <!--</form>-->
</div>
